@model SchoolManagementSystem.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center">
    <div class="border border-dark rounded p-4" style="width: 400px;">
        <h2 class="text-center mb-4">Login</h2>
        <form asp-action="Login" method="post">
            <div class="mb-3 form-group">
                <label asp-for="Email" class=" py-1 d-inline-block"></label>
                <input asp-for="Email" class="rounded-pill  form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3 form-group">
                <label asp-for="Password" class=" py-1  d-inline-block"></label>
                <input asp-for="Password" class="rounded-pill  form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>

            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="text-danger mt-3">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@error.ErrorMessage</p>
                    }
                </div>
            }
        </form>
        <div class="mt-3 text-center">
            <p><a asp-action="ForgotPassword">Forgot Password?</a></p>
            <p><a asp-action="ChangePassword">Change Password</a></p>
        </div>
    </div>
</div>
